<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error!</title>
    <link rel = "stylesheet" type="text/css" href = "styles/main.css">
</head>
<body>
    <div class="message">
        <h1>An Error Occured</h1>
        <h2>404 Error(Place/City Not Found)</h2>
    </div>
</body>
</html>